body {
    margin: 0;
    padding: 0px;
    /*background-image: url('http://getwallpapers.com/wallpaper/full/c/1/0/177756.jpg');
    background-attachment: fixed;*/
    background-color: grey;
    min-height: 100%;
    height: 100%;
}

/* main */

header {
    height: 50px;
    z-index: 10;
}

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 100%;
    position: relative;
    height: 100%;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 2em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline~.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

#carousel, #servicios, #quienes, #empleados, #precios {
    margin-bottom: 5%;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}

/* facebook button class*/

.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
    /* change the border color on mouse hover */
}

/* twitter button class*/

.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}

/* google plus button class*/

.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

/* linkedin button class*/

.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

/* pinterest button class*/

.pinterestBtn {
    background: #cb2027;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
    border-color: #cb2027;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

.logo {
    transform: scale(1);
}

.logo:hover {
    transform: scale(1.2);
}